<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSession</servlet-name>
        <servlet-class>Servlets.InicioSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuario</servlet-name>
        <servlet-class>Servlets.ConsultaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>Servlets.DepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinceController</servlet-name>
        <servlet-class>Servlets.ProvinceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Servlets.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSession</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuario</servlet-name>
        <url-pattern>/consultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/DepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinceController</servlet-name>
        <url-pattern>/Provincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
